/*Salvatore Costa, Consegna laboratorio_03*/

body{
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, "sans-serif";
    margin: 0%;
    padding: 0%;
}

.centred {
	text-align: center;
}
.overflow-hidden {
	overflow: hidden;	
}
.bold, dt{
    font-weight: bold;
}
.colore {
	background-color: #A2B964;
}
.ripeti{
    background-repeat: repeat-x;
}

#banner{
    height: 50px;
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/bannerbg.png");
}

h1{
    font-size: 24pt;
    font-family: Tahoma, Verdana, "sans-serif";
    text-shadow: 3px 3px #999999;
}

#area_testo_principale{
    border: 4px solid gray;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
#parte_sinistra{
    width: 550px;
    float: right;
}
#rotten{
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/rbg.png");
    height: 83px; 
}
#rotten > span{
    color: red;
    font-size: 48px;
    vertical-align: middle;
}
#rotten > img{
    vertical-align: bottom;
}

.colonne{
    float: left;
    width: 47%;
    padding-left: 2%;
}
.citazioni{
    background-color: #E8DC9B;
    border:2px solid grey;
    border-radius: 10px;
    padding: 8px;
}
.citazioni > img{
    float: left;
    padding-right: 5px;
}
.critici > img{
    font-family: cursive;
    padding-right: 5px;
    float: left;
    padding-bottom: 20px;
}

#parte_destra{
    float: right;
    width: 250px;
    font-family: Arial, sans-serif;
}
dl{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
dd{ 
    padding-bottom: 10pt;
    font-weight: bold;
    list-style: none;
}
ul{ 
    list-style-type: none; 
    padding-left: 0; 
}

#numero_delle_recensioni{
    width: 880px;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: inherit;
}

#footer{
    position: fixed;
	bottom: 0px;
	right: 0px;
	opacity: 50%;
}