body {
    font-size: 14px;
    text-align: center;
    font-family: cursive;
}

#puzzlearea {
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
}

#puzzlearea div {
    height: 90px;
    width: 90px;
    border: solid black 5px;
    margin: auto;
    font-size: 40pt;
    position: absolute;
    background-image: url("mario_star.jpg");
}

#puzzlearea .movable { /* movable, cella che si può muovere*/
    border-color: red;
    color: red;
}
